@font-face {
  font-family: "Helvetica";
  src: url("webfonts/Helvetica.tff");
}

* {
  margin: 0;
  padding: 0;
}

.main-pagebg {
  background-image: url(../Img/artem-beliaikin-belart84-unsplash1.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.main-pagebg .layer {
  background-color: rgba(91, 183, 236, 0.23);
  position: 100wh;
  width: 100%;
  height: 100%;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding-left: 10px;
  overflow: hidden;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

ul .message {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  color: #1D1D1B;
}

ul .fa-facebook-square:before {
  padding-right: 5px;
  font-size: 30px;
}

ul .fa-twitter-square:before {
  padding-right: 5px;
  font-size: 30px;
}

ul .fa-instagram-square:before {
  padding-right: 10px;
  font-size: 30px;
}

.navbar {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.navbar a {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  color: #1D1D1B;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar .menu1 {
  -webkit-box-flex: 4;
      -ms-flex-positive: 4;
          flex-grow: 4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navbar .logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 155px;
  height: 50px;
  margin-top: 4px;
}

.navbar a:hover {
  background-color: #2375a45d;
}

.navbar a.active {
  border-bottom: 2px solid #2375A4;
}

.navbar .icon {
  display: none;
}

li a {
  display: block;
  color: #1D1D1B;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.main {
  -webkit-transition: margin-left .5s;
  transition: margin-left .5s;
  height: 100vh;
}

.main .container-top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container-top .topbox-text {
  text-transform: uppercase;
}

.main .container-top .topbox-text.item1 {
  margin: 15% 0 0 0;
}

.main .container-top .topbox-text.item2 {
  margin: 25% 0 0 0;
}

.main .container-top .topbox-text h1 {
  font-family: 'Titillium Web', sans-serif;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: #f3f3f3;
  font-size: 30px;
  line-height: 50px;
}

.main .container-top .topbox-text h2 {
  font-size: 35px;
  line-height: 25px;
}

.main .container-top .topbox-text h1,
.main .container-top .topbox-text h2 {
  font-weight: bold;
  margin: 0;
}

.main .container-top .topbox-text p {
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  font-weight: 300;
  margin: 0;
  font-size: 32px;
}

.main .container-top .button-main {
  font-family: 'Titillium Web', sans-serif;
  border: none;
  padding: 10px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 50px 2px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
  cursor: pointer;
  color: black;
  border: 2px solid #4CAF50;
}

.main .container-top .button1 {
  color: #f3f3f3;
  border: 2px solid #2375A4;
}

.main .container-top .button1:hover {
  background-color: #2375A4;
  color: white;
}

.main .text1 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main .text2 {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.main .knap {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.havet-main {
  border: 2px solid black;
}

.havet-main .center-container {
  border: 2px solid blue;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.havet-main .center-container .image-container {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.havet-main .center-container .image-container .text-arealeft {
  margin: 50px;
}

.havet-main .center-container .image-container .text-arealeft h4 {
  text-transform: uppercase;
  font-weight: 300;
}

.havet-main .center-container .image-container .text-arealeft p {
  text-transform: uppercase;
  font-weight: 300;
}

.havet-main .center-container .image-container .image-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.havet-main .center-container .image-container .image-content.item1 {
  width: 49%;
  height: 400px;
  background-image: url(../Img/artem-beliaikin-belart84-unsplash1.jpg);
  background-size: cover;
}

.background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100vh;
  background: #112128;
}

.container {
  position: relative;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container .card {
  position: relative;
  max-width: 800px;
  background: #fff;
  margin: 10px;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .card .imgBx {
  max-width: 1980px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 250px;
          flex: 0 0 250px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .card .imgBx img {
  max-width: 100%;
}

.container .card .content {
  margin-left: 20px;
}

.container .card .content h2 {
  font-family: 'Titillium Web', sans-serif;
}

.container .card .content p {
  font-family: Helvetica, 'sans-serif';
}

@media (max-width: 991px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 768px) {
  .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .container .card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 350px;
  }
}

@media screen and (max-width: 600px) {
  .navbar a:not(:first-child) {
    display: none;
  }
  .navbar a.icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@media screen and (max-width: 600px) {
  .navbar.responsive {
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #2375A4;
  }
  .navbar.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navbar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
/*# sourceMappingURL=style.css.map */